{{!< default}}

{{!-- Page header with site title --}}
{{> page-header}}

{{!-- Post feed --}}
<div class="mt-12">
    <div class="grid gap-8">
        {{#foreach posts}}
            {{> "card" page=../pagination.page }}
        {{/foreach}}
    </div>

    {{!-- Fallback pagination for no-JS --}}
    <noscript>
        <div class="mt-8 flex justify-center">
            {{pagination}}
        </div>
    </noscript>
</div>
