{{!< default}}

{{#post}}
<article class="{{post_class}}">
    {{#if @page.show_title_and_feature_image}}
    {{!-- Page header with title and optional featured image --}}
    {{> page-header}}

    {{!-- Custom excerpt if present --}}
    {{#if custom_excerpt}}
        <p class="text-mono-600 text-lg mt-4">{{custom_excerpt}}</p>
    {{/if}}
    {{/if}}

    {{!-- Page content with subgrid for full-width images --}}
    <div class="gh-canvas gh-content mt-8 prose prose-mono max-w-none">
        {{content}}
    </div>
</article>
{{/post}}
