{{!< default}}

{{#post}}
<article class="{{post_class}}">
    {{!-- Page header with title and optional featured image --}}
    {{> page-header}}

    {{!-- Custom excerpt if present --}}
    {{#if custom_excerpt}}
        <p class="text-mono-600 text-lg mt-4">{{custom_excerpt}}</p>
    {{/if}}

    {{!-- Page content --}}
    <div class="mt-8 prose prose-mono max-w-none">
        {{content}}
    </div>
</article>
{{/post}}
