{{!< default}}

{{#tag}}
<header class="mb-8">
    <h1 class="text-2xl font-heading">{{name}}</h1>
    {{#if description}}
        <p class="mt-2 opacity-60">{{description}}</p>
    {{/if}}
</header>
{{/tag}}

<div class="grid gap-8">
    {{#foreach posts}}
        {{> "card"}}
    {{/foreach}}
</div>

{{!-- Fallback pagination for no-JS --}}
<noscript>
    <div class="mt-8 flex justify-center">
        {{pagination}}
    </div>
</noscript>
